/* whole document, body setting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #fefae0;
}

/* Header styling */
header {
    display: flex; 
    flex-wrap: wrap;
    align-items: center;    
    border-bottom: 0.1rem solid white;
    background: rgb(13, 13, 13);
} 

.logo {
    height: 2rem;
    margin: 0.5rem 1rem 0 0.5rem;
}

.banner {
    color: white;
    font-size: 1.2rem;
}

/* nav styling */
nav {
    display: flex;
    align-self: flex-end;
    margin-left: auto;
    flex-wrap: wrap;
}

nav a { 
    font-size: 1rem;
    color: white;
    margin-right: 1rem;
} 

/* link hover effect */
header a {
    transition: ease-in-out 0.3s;
}
header a:hover {
    color: gray;
}
/* Main contents */
main {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    align-items: center;
}

h1 {
    font-size: 2rem;
    margin: 10% 0 10%;
    color: #FFCC66;
    text-shadow: 1px 1px 1px black;
    text-align: center;
}

#sub-heading {
    font-size: 1.5rem;
    margin-bottom: 10%;
}
/* Main photos */
article {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-bottom: 20%;
}

article>p {
    text-align: center;
    font-family: 'Brush Script MT', cursive;
    font-size: 1.5rem;
    padding: 5% 5%;
}

article>img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}

/* blog list template */
/* ul positioning, styling */

h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: chocolate;
}

ul {
    display: flex;
    flex-wrap: wrap;
    background: black;
}

/* list image size, position */
li {
    width: 100%;
    height: 100%;
}

li img {
    height: 15vh;
    width: 100%;
    object-fit: cover;
}

/* list postion, effecet */
li {
    position: relative;
    transition: .3s ease-in-out;
}

/* list text positioning, styling */
li p {
    position: absolute;
    margin-left: 0.5rem;
    color: #FFCC66;
    font-size: 1.1rem;
    text-shadow: 1px 1px 1px black;
}

li:hover {
    animation: flash 1s infinite;
}

@keyframes flash {
    0% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}
/* list template finish */


/* footer settings*/
footer {
    display: flex;
    justify-content: center;
    background-color: rgb(13, 13, 13);
    border-top: 0.1rem solid ;
    font-size: 1.2rem;
    color: white;
}

/* Tablet view*/
@media only screen and (min-width: 600px) and (max-width: 899px) {
    
    main {
        flex-flow: row wrap;
    }

    article {
        width: 40%;
        margin-bottom: 10%;
    }

    article>img{
       min-height: 40vh;
    }
}

/* labtop view */
@media only screen and (min-width: 900px) and (max-width: 1499px) {

    h1 {
        font-size: 3rem;
    }

    #sub-heading {
        font-size: 2rem;
    }

    main {
        flex-flow: row wrap;
    }

    article {
        width: 30%;
        margin-bottom: 5%;
    }

    article>img {
        height: 50vh;
    }
    
    article>p {
        padding: 2% 0 2%;
    }


    #cave-photo {
        width: 80%;
    }
}
/* desktop view */
@media only screen and (min-width: 1500px) {

    h1 {
        font-size: 3.5rem;
        margin: 5% 0 7%;
    }

    #sub-heading {
        font-size: 2.5rem;
        margin-bottom: 7%;
    }

    main {
        flex-flow: row wrap;
    }

    article {
        width: 24%;
        margin-bottom: 5%;
    }

    article>img {
        height: 80vh;
    }
}



/* header, list templte */
@media only screen and (min-width: 450px) and (max-width: 899px) {

    .banner {
        font-size: 1.5rem;
    }

    nav a {
        margin-bottom: 00.3rem;
    }

    li {
        width: 50%;  
    }

    li img {
        height: 17vh;
    }

    #last-photo, #last-list {
        width: 100%;
        height: 21vh;
    } 
}
/* desktop view images adjustment*/
@media only screen and (min-width: 900px) {  
    
    .banner {
        font-size: 1.5rem;
    }
    nav a {
        font-size: 1.1rem;
    }

    h2 {
        font-size: 1.8rem;
    }
    
    li {
        width: 20%;
    }

    li img{
        height: 19vh;
    }
}
/* header, list template finish */